* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background: no-repeat center/70% url("./img/fondo.jpg");
  height: 100vh;
  padding: 10rem 40rem;
}

#root > header {
  display: flex;
}

#root > header > p {
  margin-right: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

#root > header > select {
  height: 4vh;
  font-size: 1.5rem;
  padding-left: 1rem;
  background-color: transparent;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid black;
}

li {
  list-style: none;
}

.tareas {
  margin: 30px;
}

.input-creator {
  margin-bottom: 2rem;
}

.input-creator > input {
  height: 3vh;
  width: 15vw;
  border: none;
}

.input-creator > button {
  margin-left: 10px;
  width: 6vw;
  height: 3vh;
  background-color: brown;
  color: white;
  border: none;
  font-weight: bold;
}

ul > li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
}

ul > li > input:first-child {
  border: none;
  padding-left: 6px;
  width: 20vw;
}

ul > li > button {
  border: none;
  width: 6vw;
  height: 2vh;
  background-color: brown;
  color: white;
}
